html,body{
	height: 100%;
}
/* 设置桃心样式 */
.heart{
	position: absolute;
	width: 20px;
	height: 20px;
	background: red;
	transform: rotate(45deg);
	animation: move .5s;
}
.heart:before{
	content:'';
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 100%;
	position: absolute;
	left: -10px;
}
.heart:after{
	content: '';
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 100%;
	position: absolute;
	top: -10px;
}
@keyframes move{
	0%{
		opacity: 0;
		transform:rotate(45deg);
	}
	10%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateY(-20px) rotate(45deg);
	}
}